DEBUG=True
SECRET_KEY=your-secret-key-here-min-50-chars
NEWS_API_KEY=16028ee041dd4f37ba9c619ea1ee9a08
ALLOWED_HOSTS=localhost,127.0.0.1
CLOUDINARY_CLOUD_NAME=qnrygwte
CLOUDINARY_API_KEY=175857327126965
CLOUDINARY_API_SECRET=ipEtPWxo99vcRsl7JcPgbIUjVo4